@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Norse bold';
  src: url('Norse-Bold.otf');
}

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Norse bold', sans-serif;
}

body {
  background-color: rgb(233, 233, 233);
  display: flex;
  width: 80vw;
  height: 100vh;
  margin: auto;
}

#left {
  background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  flex: 1 1 60%;
}

.title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  height: 5rem;
}
